<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Linea</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <form class="needs-validation" method="POST" action="{{Route('storeline')}} "
                                enctype="multipart/form-data" autocomplete="off">
                                @csrf
                                <div class="form-group">
                                    <label for="name">Nombre</label>
                                    <input type="text" class="form-control" id="name" name="name"
                                        placeholder="Escriba el nombre de la línea" required>
                                </div>

                                <div class="form-group">
                                    <label for="descrip">Descripción</label>
                                    <textarea class="form-control" id="descrip" name="descrip" rows="3"
                                        placeholder="Escriba la descripción de la línea"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="imgpreview">Seleccione</label>
                                    <input type="file" class="form-control-file" id="imgpreview" name="imgpreview"
                                        required>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="active" name="active" checked
                                        required>
                                    <label class="form-check-label" for="active">Activo</label>
                                </div>


                        </div>
                        <div class="col-lg-5 text-center" id="container-img" style="border: black 2px dashed; ">
                            <div class="" id="add-photo-container">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <div class="form-group">
                    <button class="btn btn-primary col-lg-12 col-md-12 col-sm-12 col-12" type="submit">
                        <i class="fa fa-plus-square"></i> Crear
                    </button>
                </div>
            </div>
            </form>
        </div>
    </div>